# Archivos temporales de compilación
build/
sdkconfig
sdkconfig.olg

# Configuración del editor
.vscode/
# .devcontainer/

# Configuración de git
.git/

# Archivo con las contraseñas y secretos
secrets.conf
secrets_backup.conf

target/
lib/
qrng_server/
tmp/
memoria/
external/
captures/
.randlab/